{% extends "shop/base.html" %}
{% block title %}Order Success{% endblock %}

{% block content %}
<h3 class="mb-4 text-success">Order Placed Successfully</h3>

<p><strong>Order ID:</strong> {{ order.id }}</p>
<p><strong>Total Price:</strong> {{ order.total_price }}</p>
<p><strong>Shipping:</strong> {{ order.shipping.method_name }}</p>
<p><strong>Payment:</strong> {{ order.payment.method_name }}</p>

<h5 class="mt-4">Order Items</h5>

<table class="table table-bordered w-75">
    <thead class="table-dark">
        <tr>
            <th>Book</th>
            <th>Quantity</th>
            <th>Price</th>
        </tr>
    </thead>
    <tbody>
        {% for item in order.items.all %}
        <tr>
            <td>{{ item.book.title }}</td>
            <td>{{ item.quantity }}</td>
            <td>{{ item.price }}</td>
        </tr>
        {% endfor %}
    </tbody>
</table>

<a href="{% url 'book_list' %}" class="btn btn-primary">Continue Shopping</a>
{% endblock %}
